export(anyMultibyteUTF8Characters)
import(filehash)
export(setTikzDefaults)
export(getLatexStrWidth)
export(getLatexCharMetrics)
export(sanitizeTexString)
export(tikz)
export(tikzAnnotate, tikzCoord)
