export(anyMultibyteUTF8Characters)
export(getLatexCharMetrics)
export(getLatexStrWidth)
export(grid.tikzAnnotate)
export(grid.tikzCoord)
export(grid.tikzNode)
export(gridToDevice)
export(sanitizeTexString)
export(setTikzDefaults)
export(tikz)
export(tikzAnnotate)
export(tikzAnnotateGrob)
export(tikzCoord)
export(tikzCoordGrob)
export(tikzNode)
export(tikzNodeGrob)
import(filehash)
importFrom(grid,convertX)
importFrom(grid,convertY)
importFrom(grid,current.transform)
importFrom(grid,drawDetails)
importFrom(grid,grob)
S3method(drawDetails,tikz_annotation)
S3method(drawDetails,tikz_coord)
S3method(drawDetails,tikz_node)
useDynLib(tikzDevice,TikZ_Annotate)
useDynLib(tikzDevice,TikZ_DeviceInfo)
useDynLib(tikzDevice,TikZ_StartDevice)
