export(anyMultibyteUTF8Characters)
import(filehash)
export(setTikzDefaults)
export(getLatexStrWidth)
export(getLatexCharMetrics)
export(sanitizeTexString)
export(tikz)
export(gridToDevice)
importFrom(grid, convertX, convertY, current.transform)
export(tikzAnnotate, tikzNode, tikzCoord, tikzAnnotateGrob, tikzNodeGrob, tikzCoordGrob, grid.tikzAnnotate, grid.tikzNode, grid.tikzCoord)
importFrom(grid, grob, drawDetails)
S3method(drawDetails, tikz_annotation)
S3method(drawDetails, tikz_node)
S3method(drawDetails, tikz_coord)
